openai
clearml

langchain-openai
langchain-core
langchain-community
langchain-huggingface
langchain-chroma

chromadb
cartesia
together
ffmpeg-python

spacy
matplotlib
pypdf
pdfplumber
pydantic
typing
together
sentence-transformers
python-dotenv

pandas
numpy
seaborn
torch