openai
clearml

langchain-openai
langchain-core
langchain-community
langchain-huggingface
langchain-chroma

gTTS
chromadb
cartesia
together
ffmpeg-python
fastapi
uvicorn
textblob
boto3
flask

#spacy
matplotlib
pypdf
pdfplumber
pydantic
typing
together
sentence-transformers
python-dotenv
langchain_postgres

pandas
numpy
seaborn
torch
langchain
transformers
botocore
werkzeug
supabase

unstructured-client
langchain-unstructured
unstructured[all-docs]